@page
@model BookManagement_RazorPage.Pages.LoginModel
@{
}


<body>
	<form method="post">
		<h1>LOGIN FORM</h1>
		<div>
			<div class="col-2">Email</div>
			<div class="col-10"><input style="width:60%" type="text" name="txtUserName" /></div>
		</div>
		<div>
			<div class="col-2">Password</div>
			<div class="col-10"><input style="width:60%" type="password" name="txtPassword" /></div>
		</div>
		<div>
			<div class="col-6" style="margin-top:10px">
				<input type="submit" class="btn btn-primary" name="btnLogin" value="Login" />
				<input type="reset" class="btn btn-danger" name="btnLogin" value="Reset" />
			</div>
		</div>
	</form>
</body>
